@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
  --color-brand-400: #917dcd;
  --color-brand-500: #6753ad;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.prose h1 {
  @apply mb-4 text-4xl font-semibold tracking-tight text-pretty;
}
.prose h2 {
  @apply mb-4 text-2xl font-semibold tracking-tight text-pretty;
}
.prose h3 {
  @apply mb-4 text-xl font-semibold tracking-tight text-pretty;
}
.prose p {
  @apply mb-4 text-base text-pretty;
}
.prose ul {
  @apply mb-4 list-disc pl-8 text-pretty;
}
.prose a {
  @apply underline;
}
.prose strong {
  @apply font-semibold;
}
.prose hr {
  @apply py-4 opacity-20;
}
