@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
  --color-brand-400: #917dcd;
  --color-brand-500: #6753ad;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
